html/reports/temp/oagis_segments.dtd

<!-- License information for this file is provided in LICENSE.TXT -->
<!-- For support, more information, or to report implementation bugs, 
     please contact the Open Applications Group at xml@openapplications.org -->
<!--
$Header: oagis_segments.dtd 115.0 2002/07/09 01:17:05 tkoshio noship $
    $Revision: 115.0 $
    $Date: 2002/07/09 01:17:05 $
    Open Applications Group DTD
    Copyright 1998-2001, All Rights Reserved

    $Name:  $

Kurt    6.2.0   07/05/1999      Additional requirements for Engineering Change BODs:
                                                                New AMOUNT qualifiers:ESTENGIMP,ESTMANIMP
                                                                New DATETIME qualifiers:APPREQ,APPROVAL,CANCEL,EARLSTEFF,IMPL
                                                        Relased AMOUNT.type attribute from #REQUIRED to #IMPLIED
Kurt    6.2.1   12/11/1999      Add: QUANTITY.REJFIXED, DATETIME.SETUPFINSH
                                                        AMOUNT.ACTUAL, AMOUNT.BUDGET, AMOUNT.ESTIMATE, DATETIME.ACTEND
                                                        DATETIME.ACTSTART, DATETIME.CHANGEDATE, DATETIME.FAILDATE
                                                        DATETIME.PLANEND, DATETIME.PLANSTART, DATETIME.REPORTDATE
                                                        DATETIME.RSPDDATE, DATETIME.SCHEND, DATETIME.SCHSTART
                                                        DATETIME.STATUSDATE, QUANTITY.ACTDUR, QUANTITY.ESTDUR, QUANTITY.REMDUR,
                                                        DATETIME.COMPDATE, DATETIME, MSMENTDATE, QUANTITY.ACTHRS, QUANTITY.ESTHRS
                                                        QUANTITY.MSMENT, QUANTITY.REMHRS, AMOUNT.PAYRATE, QUANTITY.LABOR, 
                                                        AMOUNT.ESTUCOST, AMOUNT.RATE, AMOUNT.ESTHRS
rjj     7.0.0           10/15/2000      Updated Header Information.
                                                Added new qualifers for Catalog(CATALOG):
                                                        QUANTITY.FILESIZE
                                                Added new qualifers for Catalog(ITEMSPECS):
                                                        QUANTITY.LOWERLIMIT, QUANTITY.UPPERLIMT
                                                Added new qualifers for Catalog(PRICELIST):
                                                        AMOUNT.PRCBRK,AMOUNT.DSCVALUE,AMOUNT.DSCPRCNT, QUANTITY.PRCBRK
                                                Added ATTCHREF
                                                Added new qualifers for UOM:
                                                        QUANTITY.HEIGHT, QUANTITY.LENGTH, QUANTITY.WIDTH
                                                Added new qualifers forRFQ & Quote:
                                                        QUANTITY.DUROVER, QUANTITY.DURUNDER, QUANTITY.FILENAME, 
                                                        QUANTITY.UNDERSHIP
                                                Added new qualifiers for ShowShipment
                                                        AMOUNT.DECLAREVAL, AMOUNT.ESTFREIGHT, AMOUNT.FREIGHT.T, AMOUNT.ITEM.T, 
                                                        AMOUNT.TOTAL.T, DATETIME.EARLSTSHIP, DATETIME.SHIPSCHED, OPERAMT.FREIGHT.T, 
                                                        QUANTITY.ESTWEIGHT
                                                Added new qualifiers for FORECAST
                                                        QUANTITY.CUMULATIVE, QUANTITY.DELIVERED, QUANTITY.MINIMUM, QUANTITY.MAXIMUM,
                                                        QUANTITY.PRIOR,
                                                        DATETIME.BKTEND, DATETIME.BKTSTART, DATETIME.CUMULATIVE, DATETIME.ENGCHG, 
                                                        DATETIME.GENERATION, DATETIME.PO, DATETIME.RECEIVED, DATETIME.RSPDOCGEN
rjj     7.0.1           10/27/2000      Added CHARGETYPE as optional within CHARGE.
rjj     7.0.2           11/24/2000      Added REJFIXED to SEG_QUANTITY_QUALIFIERS for corresponding QUANTITY 
qualifier..

mlr     7.0.3           03/01/2001      Removed:
                                                SEG_AMOUNT_QUALIFIERS_EXTENSION
                                                SEG_AMOUNT_TYPES_EXTENSION
                                                SEG_DATETIME_QUALIFIERS_EXTENSION
                                                SEG_DATETIME_TYPES_EXTENSION
                                                SEG_OPERAMT_QUALIFIERS_EXTENSION
                                                SEG_OPERAMT_TYPES_EXTENSION
                                                SEG_QUANTITY_QUALIFIERS_EXTENSION
                                                SEG_TEMPRATURE_QUALIFIERS_EXTENSION 
                                                SEG_TEMPRATURE_TYPES_EXTENSION
                                        Placed in oagis_entity_extensions.dtd in order to faclitate extensions to segment.
mlr     7.0.3   03/01/2001      Added reference to oagis_entity_extensions.dtd
mlr     7.1             04/16/2001      Add DOCUMNTREF as super segement.
                                                Change choice in ATTCHREF from (FILENAME | (FILENAME?, URI)) to 
                                                        (FILENAME | URI).
                                                Added LOTSERIAL, DOCUMENT defintion
                                                ADDED QUANTITY.DUE, QUANTITY.RETURNED, QUANTITY.START, 
                                                        QUANTITY.WIPMOVE
                                                  ADDED DATETIME.JOBDUE, AMOUNT(OVERRIDE)
ajw 7.2         09/30/2001      Added new qualifiers for Consumptn
                                                        DATETIME.CONSUME
ajw     7.2             09/30/2001      Refined Control Area DATETIME with %DATETIME.CREATION;
                                                Moved Control Area beneath Amount,Datatime and Quantity declarations                                                            
                                                        
Notes:

-->
<!-- ====================================================================== -->
<!-- Elements - Segments
-->
<!ENTITY % ENTITY_EXTENSIONS SYSTEM "oagis_entity_extensions.dtd">
%ENTITY_EXTENSIONS;
<!ENTITY % FIELDS SYSTEM "oagis_fields.dtd">
%FIELDS;
<!-- AMOUNT -->
<!ENTITY % SEG_AMOUNT_QUALIFIERS "(ACTUAL | APPRVORD | AVAILABLE | BUDGET | COMMISSION | 
         DECLAREVAL | DSCPRCNT | DSCVALUE | DISCNT | DOCUMENT | ESTENGIMP | ESTFREIGHT | ESTHRS | ESTIMATE | ESTMANIMP | 
          ESTUCOST | EXTENDED | FREIGHT | ITEM | OPENITEM | ORDER | ORDLIMIT | OVERRIDE | 
          PAYRATE | RATE | PRCBRK | TAX | TAXBASE | TOTAL | TOTLIMIT | 
          %SEG_AMOUNT_QUALIFIERS_EXTENSION;)">
<!ENTITY % SEG_AMOUNT_TYPES "(T | F | TAX | %SEG_AMOUNT_TYPES_EXTENSION;)">
<!ELEMENT AMOUNT (VALUE, NUMOFDEC, SIGN, CURRENCY, DRCR)>
<!ATTLIST AMOUNT
        qualifier %SEG_AMOUNT_QUALIFIERS; #REQUIRED
        type %SEG_AMOUNT_TYPES; #IMPLIED
        index CDATA #IMPLIED
>
<!ENTITY % AMOUNT.ACTUAL "AMOUNT">
<!ENTITY % AMOUNT.ACTUAL.F "AMOUNT">
<!ENTITY % AMOUNT.ACTUAL.T "AMOUNT">
<!ENTITY % AMOUNT.AVAILABLE.F "AMOUNT">
<!ENTITY % AMOUNT.AVAILABLE.T "AMOUNT">
<!ENTITY % AMOUNT.APPRVORD.F "AMOUNT">
<!ENTITY % AMOUNT.APPRVORD.T "AMOUNT">
<!ENTITY % AMOUNT.BUDGET "AMOUNT">
<!ENTITY % AMOUNT.BUDGET.F "AMOUNT">
<!ENTITY % AMOUNT.BUDGET.T "AMOUNT">
<!ENTITY % AMOUNT.COMMISSION "AMOUNT">
<!ENTITY % AMOUNT.DECLAREVAL "AMOUNT">
<!ENTITY % AMOUNT.DISCNT.F "AMOUNT">
<!ENTITY % AMOUNT.DISCNT.T "AMOUNT">
<!ENTITY % AMOUNT.DOCUMENT.F "AMOUNT">
<!ENTITY % AMOUNT.DOCUMENT.T "AMOUNT">
<!ENTITY % AMOUNT.DSCPRCNT "AMOUNT">
<!ENTITY % AMOUNT.DSCVALUE "AMOUNT">
<!ENTITY % AMOUNT.ESTENGIMP "AMOUNT">
<!ENTITY % AMOUNT.ESTFREIGHT "AMOUNT">
<!ENTITY % AMOUNT.ESTHRS "AMOUNT">
<!ENTITY % AMOUNT.ESTIMATE "AMOUNT">
<!ENTITY % AMOUNT.ESTMANIMP "AMOUNT">
<!ENTITY % AMOUNT.ESTUCOST "AMOUNT">
<!ENTITY % AMOUNT.EXTENDED.F "AMOUNT">
<!ENTITY % AMOUNT.EXTENDED.T "AMOUNT">
<!ENTITY % AMOUNT.FREIGHT.T "AMOUNT">
<!ENTITY % AMOUNT.ITEM.F "AMOUNT">
<!ENTITY % AMOUNT.ITEM.T "AMOUNT">
<!ENTITY % AMOUNT.OPENITEM.F "AMOUNT">
<!ENTITY % AMOUNT.OPENITEM.T "AMOUNT">
<!ENTITY % AMOUNT.ORDER "AMOUNT">
<!ENTITY % AMOUNT.ORDER.F "AMOUNT">
<!ENTITY % AMOUNT.ORDER.T "AMOUNT">
<!ENTITY % AMOUNT.ORDLIMIT.F "AMOUNT">
<!ENTITY % AMOUNT.ORDLIMIT.T "AMOUNT">
<!ENTITY % AMOUNT.OVERRIDE "AMOUNT">
<!ENTITY % AMOUNT.PAYRATE "AMOUNT">
<!ENTITY % AMOUNT.PRCBRK "AMOUNT">
<!ENTITY % AMOUNT.RATE "AMOUNT">
<!ENTITY % AMOUNT.TAX.F "AMOUNT">
<!ENTITY % AMOUNT.TAX.T "AMOUNT">
<!ENTITY % AMOUNT.TAX.TAX "AMOUNT">
<!ENTITY % AMOUNT.TAXBASE.F "AMOUNT">
<!ENTITY % AMOUNT.TAXBASE.T "AMOUNT">
<!ENTITY % AMOUNT.TOTAL.T "AMOUNT">
<!ENTITY % AMOUNT.TOTLIMIT.F "AMOUNT">
<!ENTITY % AMOUNT.TOTLIMIT.T "AMOUNT">
<!-- BSR -->
<!ELEMENT BSR (VERB, NOUN, REVISION)>
<!-- DATETIME -->
<!ENTITY % SEG_DATETIME_QUALIFIERS "(ACCOUNTING | ACTEND | ACTSTART | APPREQ | APPROVAL | AVAILABLE | 
          BKTEND | BKTSTART | CANCEL | CHANGEDATE | COMPDATE | CONSUME | CREATION | CUMULATIVE | DELIVACT | DELIVSCHED |
      DISCNT | DOCUMENT | DUE | EARLSTEFF | EARLSTSHIP | EFFECTIVE | ENGCHG | EXECFINISH | 
          EXECSTART | EXPIRATION | FAILDATE | FORECASTF | FORECASTS | FROM | GENERATION | 
          IMPL | INVOICE | JOBDUE | LABORFINSH | LABORSTART | LASTUSED | LOADING | 
          MATCHING | MSMENTDATE | NEEDDELV | OPFINISH | OPSTART | PAYEND | 
          PLANEND | PLANSTART | PO | PROMDELV | PROMSHIP | PYMTTERM | RECEIVED | REPORTDATE | 
          REPORTNGFN | REPORTNGST | REQUIRED | RESORCDWNF | RESORCDWNS | 
          RSPDDATE | RSPDOCGEN | SCHEND | SCHSTART | SETUPFINSH | SETUPSTART | SHIP | 
          SHIPSCHED | STATUSDATE | TEARDOWNF | TEARDOWNS | TO | 
          %SEG_DATETIME_QUALIFIERS_EXTENSION;)">
<!ENTITY % SEG_DATETIME_TYPES "(T | F | %SEG_DATETIME_TYPES_EXTENSION;)">
<!ELEMENT DATETIME (YEAR, MONTH, DAY, HOUR, MINUTE, SECOND, SUBSECOND, TIMEZONE)>
<!ATTLIST DATETIME
        qualifier %SEG_DATETIME_QUALIFIERS; #REQUIRED
        type %SEG_DATETIME_TYPES; #IMPLIED
        index CDATA #IMPLIED
>
<!ENTITY % DATETIME.ACCOUNTING "DATETIME">
<!ENTITY % DATETIME.ACTEND "DATETIME">
<!ENTITY % DATETIME.ACTSTART "DATETIME">
<!ENTITY % DATETIME.APPREQ "DATETIME">
<!ENTITY % DATETIME.APPROVAL "DATETIME">
<!ENTITY % DATETIME.AVAILABLE "DATETIME">
<!ENTITY % DATETIME.BKTEND "DATETIME">
<!ENTITY % DATETIME.BKTSTART "DATETIME">
<!ENTITY % DATETIME.CANCEL "DATETIME">
<!ENTITY % DATETIME.CHANGEDATE "DATETIME">
<!ENTITY % DATETIME.COMPDATE "DATETIME">
<!ENTITY % DATETIME.CONSUME "DATETIME">
<!ENTITY % DATETIME.CREATION "DATETIME">
<!ENTITY % DATETIME.CUMULATIVE "DATETIME">
<!ENTITY % DATETIME.DELIVACT "DATETIME">
<!ENTITY % DATETIME.DELIVSCHED "DATETIME">
<!ENTITY % DATETIME.DISCNT "DATETIME">
<!ENTITY % DATETIME.DOCUMENT "DATETIME">
<!ENTITY % DATETIME.DUE "DATETIME">
<!ENTITY % DATETIME.EARLSTEFF "DATETIME">
<!ENTITY % DATETIME.EARLSTSHIP "DATETIME">
<!ENTITY % DATETIME.EFFECTIVE "DATETIME">
<!ENTITY % DATETIME.ENGCHG "DATETIME">
<!ENTITY % DATETIME.EXECFINISH "DATETIME">
<!ENTITY % DATETIME.EXECSTART "DATETIME">
<!ENTITY % DATETIME.EXPIRATION "DATETIME">
<!ENTITY % DATETIME.FAILDATE "DATETIME">
<!ENTITY % DATETIME.FORECASTF "DATETIME">
<!ENTITY % DATETIME.FORECASTS "DATETIME">
<!ENTITY % DATETIME.FROM "DATETIME">
<!ENTITY % DATETIME.GENERATION "DATETIME">
<!ENTITY % DATETIME.IMPL "DATETIME">
<!ENTITY % DATETIME.INVOICE "DATETIME">
<!ENTITY % DATETIME.JOBDUE "DATETIME">
<!ENTITY % DATETIME.LABORFINISH "DATETIME">
<!ENTITY % DATETIME.LABORSTART "DATETIME">
<!ENTITY % DATETIME.LASTUSED "DATETIME">
<!ENTITY % DATETIME.LOADING "DATETIME">
<!ENTITY % DATETIME.MATCHING "DATETIME">
<!ENTITY % DATETIME.MSMENTDATE "DATETIME">
<!ENTITY % DATETIME.NEEDDELV "DATETIME">
<!ENTITY % DATETIME.OPFINISH "DATETIME">
<!ENTITY % DATETIME.OPSTART "DATETIME">
<!ENTITY % DATETIME.PAYEND "DATETIME">
<!ENTITY % DATETIME.PLANEND "DATETIME">
<!ENTITY % DATETIME.PLANSTART "DATETIME">
<!ENTITY % DATETIME.PO "DATETIME">
<!ENTITY % DATETIME.PROMDELV "DATETIME">
<!ENTITY % DATETIME.PROMSHIP "DATETIME">
<!ENTITY % DATETIME.PYMTTERM "DATETIME">
<!ENTITY % DATETIME.RECEIVED "DATETIME">
<!ENTITY % DATETIME.REPORTDATE "DATETIME">
<!ENTITY % DATETIME.REPORTNGFN "DATETIME">
<!ENTITY % DATETIME.REPORTNGST "DATETIME">
<!ENTITY % DATETIME.REQUIRED "DATETIME">
<!ENTITY % DATETIME.RESORCDWNF "DATETIME">
<!ENTITY % DATETIME.RESORCDWNS "DATETIME">
<!ENTITY % DATETIME.RSPDDATE "DATETIME">
<!ENTITY % DATETIME.RSPDOCGEN "DATETIME">
<!ENTITY % DATETIME.SCHEND "DATETIME">
<!ENTITY % DATETIME.SCHSTART "DATETIME">
<!ENTITY % DATETIME.SETUPFINISH "DATETIME">
<!ENTITY % DATETIME.SETUPFINSH "DATETIME">
<!ENTITY % DATETIME.SETUPSTART "DATETIME">
<!ENTITY % DATETIME.SHIP "DATETIME">
<!ENTITY % DATETIME.SHIPSCHED "DATETIME">
<!ENTITY % DATETIME.STATUSDATE "DATETIME">
<!ENTITY % DATETIME.TEARDOWNF "DATETIME">
<!ENTITY % DATETIME.TEARDOWNS "DATETIME">
<!ENTITY % DATETIME.TO "DATETIME">
<!-- OPERAMT -->
<!ENTITY % SEG_OPERAMT_QUALIFIERS "(COST | EXTENDED | FREIGHT | UNIT | %SEG_OPERAMT_QUALIFIERS_EXTENSION;)">
<!ENTITY % SEG_OPERAMT_TYPES "(T | F | %SEG_OPERAMT_TYPES_EXTENSION;)">
<!ELEMENT OPERAMT (VALUE, NUMOFDEC, SIGN, CURRENCY, UOMVALUE, UOMNUMDEC, UOM)>
<!ATTLIST OPERAMT
        qualifier %SEG_OPERAMT_QUALIFIERS; #REQUIRED
        type %SEG_OPERAMT_TYPES; #REQUIRED
>
<!ENTITY % OPERAMT.COST.T "OPERAMT">
<!ENTITY % OPERAMT.COST.F "OPERAMT">
<!ENTITY % OPERAMT.EXTENDED.T "OPERAMT">
<!ENTITY % OPERAMT.FREIGHT.T "OPERAMT">
<!ENTITY % OPERAMT.UNIT.F "OPERAMT">
<!ENTITY % OPERAMT.UNIT.T "OPERAMT">
<!-- QUANTITY -->
<!ENTITY % SEG_QUANTITY_QUALIFIERS "(ACCEPTED | ACTDUR | ACTHRS | ALLOCATED | ALLOWEDWT | AVAILABLE | 
          AVGRUNSIZE | BACKORDERD | BATCHSIZE | BATCHTIME | BLOCKED | BREAKTIME | 
          CAPPERCENT | CATCHWEGHT | COMMISSION | COMPLETED | CUMULATIVE | DELIVERED | DUE | DURATION | 
          DUROVER | DURUNDER | EMPLOYEES | 
          EMPREQD | ESTDUR | ESTHRS | ESTWEIGHT | FILENAME | FILESIZE | FIXEDTIME | HEIGHT | INSPECTED | 
          INSPECTION | ITEM | 
          LDTMOFFSET | LENGTH | LABOR | LOADINGWT | LOTSIZEMAX | LOTSIZEMIN | LOTSIZEMLT | LOWERLIMIT | 
          MACHINEHRS | MAXIMUM | MAXPARLTM | MINIMUM | MOVETIME | MSMENT | MULTIPLIER | NETWEIGHT | 
          OPEN | ORDERED | OTHERREJ | OVERSHIP | PACKING | PERCENT | PERCENTREQ | 
          PERSHBNOPR | PERSHWIOPR | PLNDPRCT | PRCBRK | PRIOR | QUEUETIME | RATE | RECEIVED | 
          REJECTED | REJFIXED | REJPERCENT | REMDUR | REMHRS | REQUIRED | RETURNED | REWORK | 
          RUNTIME | SCRAP | SETUPTIME | SHELFLIFE | SHIPPED | SHIPUNIT | START | TEARDOWN | 
          TOOLREQD | TOTWEIGHT | TRANSFRLOT | UNDERSHIP | UNIT | UPPERLIMIT | VOLUME | WAITTIME | WEIGHT | 
          WIDTH | WIPMOVE | 
          %SEG_QUANTITY_QUALIFIERS_EXTENSION;)">
<!ELEMENT QUANTITY (VALUE, NUMOFDEC, SIGN, UOM)>
<!ATTLIST QUANTITY
        qualifier %SEG_QUANTITY_QUALIFIERS; #REQUIRED
>
<!ENTITY % QUANTITY.ACCEPTED "QUANTITY">
<!ENTITY % QUANTITY.ACTDUR "QUANTITY">
<!ENTITY % QUANTITY.ACTHRS "QUANTITY">
<!ENTITY % QUANTITY.ALLOCATED "QUANTITY">
<!ENTITY % QUANTITY.ALLOWEDWT "QUANTITY">
<!ENTITY % QUANTITY.AVAILABLE "QUANTITY">
<!ENTITY % QUANTITY.AVGRUNSIZE "QUANTITY">
<!ENTITY % QUANTITY.BACKORDERD "QUANTITY">
<!ENTITY % QUANTITY.BATCHSIZE "QUANTITY">
<!ENTITY % QUANTITY.BATCHTIME "QUANTITY">
<!ENTITY % QUANTITY.BLOCKED "QUANTITY">
<!ENTITY % QUANTITY.BREAKTIME "QUANTITY">
<!ENTITY % QUANTITY.CAPPERCENT "QUANTITY">
<!ENTITY % QUANTITY.CATCHWEGHT "QUANTITY">
<!ENTITY % QUANTITY.COMMISSION "QUANTITY">
<!ENTITY % QUANTITY.COMPLETED "QUANTITY">
<!ENTITY % QUANTITY.CUMULATIVE "QUANTITY">
<!ENTITY % QUANTITY.DELIVERED "QUANTITY">
<!ENTITY % QUANTITY.DUE "QUANTITY">
<!ENTITY % QUANTITY.DURATION "QUANTITY">
<!ENTITY % QUANTITY.DUROVER "QUANTITY">
<!ENTITY % QUANTITY.DURUNDER "QUANTITY">
<!ENTITY % QUANTITY.EMPLOYEES "QUANTITY">
<!ENTITY % QUANTITY.EMPREQD "QUANTITY">
<!ENTITY % QUANTITY.ESTDUR "QUANTITY">
<!ENTITY % QUANTITY.ESTHRS "QUANTITY">
<!ENTITY % QUANTITY.ESTWEIGHT "QUANTITY">
<!ENTITY % QUANTITY.FILESIZE "QUANTITY">
<!ENTITY % QUANTITY.FIXEDTIME "QUANTITY">
<!ENTITY % QUANTITY.INSPECTION "QUANTITY">
<!ENTITY % QUANTITY.HEIGHT "QUANTITY">
<!ENTITY % QUANTITY.ITEM "QUANTITY">
<!ENTITY % QUANTITY.LABOR "QUANTITY">
<!ENTITY % QUANTITY.LENGTH "QUANTITY">
<!ENTITY % QUANTITY.LDTMOFFSET "QUANTITY">
<!ENTITY % QUANTITY.LOADINGWT "QUANTITY">
<!ENTITY % QUANTITY.LOTSIZEMAX "QUANTITY">
<!ENTITY % QUANTITY.LOTSIZEMIN "QUANTITY">
<!ENTITY % QUANTITY.LOTSIZEMLT "QUANTITY">
<!ENTITY % QUANTITY.LOWERLIMIT "QUANTITY">
<!ENTITY % QUANTITY.MACHINEHRS "QUANTITY">
<!ENTITY % QUANTITY.MAXIMUM "QUANTITY">
<!ENTITY % QUANTITY.MAXPARLTM "QUANTITY">
<!ENTITY % QUANTITY.MINIMUM "QUANTITY">
<!ENTITY % QUANTITY.MOVETIME "QUANTITY">
<!ENTITY % QUANTITY.MSMENT "QUANTITY">
<!ENTITY % QUANTITY.MULTIPLIER "QUANTITY">
<!ENTITY % QUANTITY.NETWEIGHT "QUANTITY">
<!ENTITY % QUANTITY.OPEN "QUANTITY">
<!ENTITY % QUANTITY.ORDERED "QUANTITY">
<!ENTITY % QUANTITY.OVERSHIP "QUANTITY">
<!ENTITY % QUANTITY.PACKING "QUANTITY">
<!ENTITY % QUANTITY.PERCENT "QUANTITY">
<!ENTITY % QUANTITY.PERCENTREQ "QUANTITY">
<!ENTITY % QUANTITY.PERSHBNOPR "QUANTITY">
<!ENTITY % QUANTITY.PERSHWIOPR "QUANTITY">
<!ENTITY % QUANTITY.PLNDPRCT "QUANTITY">
<!ENTITY % QUANTITY.PRCBRK "QUANTITY">
<!ENTITY % QUANTITY.PRIOR "QUANTITY">
<!ENTITY % QUANTITY.QUEUETIME "QUANTITY">
<!ENTITY % QUANTITY.RATE "QUANTITY">
<!ENTITY % QUANTITY.RECEIVED "QUANTITY">
<!ENTITY % QUANTITY.REJECTED "QUANTITY">
<!ENTITY % QUANTITY.REJFIXED "QUANTITY">
<!ENTITY % QUANTITY.REJPERCENT "QUANTITY">
<!ENTITY % QUANTITY.REMDUR "QUANTITY">
<!ENTITY % QUANTITY.REMHRS "QUANTITY">
<!ENTITY % QUANTITY.REQUIRED "QUANTITY">
<!ENTITY % QUANTITY.RETURNED "QUANTITY">
<!ENTITY % QUANTITY.RUNTIME "QUANTITY">
<!ENTITY % QUANTITY.SCRAP "QUANTITY">
<!ENTITY % QUANTITY.SETUPTIME "QUANTITY">
<!ENTITY % QUANTITY.SHELFLIFE "QUANTITY">
<!ENTITY % QUANTITY.SHIPPED "QUANTITY">
<!ENTITY % QUANTITY.SHIPUNIT "QUANTITY">
<!ENTITY % QUANTITY.START "QUANTITY">
<!ENTITY % QUANTITY.TEARDOWN "QUANTITY">
<!ENTITY % QUANTITY.TOOLREQD "QUANTITY">
<!ENTITY % QUANTITY.TOTWEIGHT "QUANTITY">
<!ENTITY % QUANTITY.TRANSFRLOT "QUANTITY">
<!ENTITY % QUANTITY.UNDERSHIP "QUANTITY">
<!ENTITY % QUANTITY.UNIT "QUANTITY">
<!ENTITY % QUANTITY.UPPERLIMIT "QUANTITY">
<!ENTITY % QUANTITY.VOLUME "QUANTITY">
<!ENTITY % QUANTITY.WAITTIME "QUANTITY">
<!ENTITY % QUANTITY.WEIGHT "QUANTITY">
<!ENTITY % QUANTITY.WIDTH "QUANTITY">
<!ENTITY % QUANTITY.WIPMOVE "QUANTITY">
<!-- CNTROLAREA -->
<!ELEMENT CNTROLAREA (BSR, SENDER, %DATETIME.CREATION;)>
<!-- SENDER -->
<!ELEMENT SENDER (LOGICALID, COMPONENT, TASK, REFERENCEID, CONFIRMATION, LANGUAGE, CODEPAGE, AUTHID)>
<!-- TEMPRATURE -->
<!ENTITY % SEG_TEMPRATURE_QUALIFIERS "(ACTUAL | DELIVERY | LOADING | %SEG_TEMPRATURE_QUALIFIERS_EXTENSION;)">
<!ENTITY % SEG_TEMPRATURE_TYPES "(CELSIUS | FAHRENHEIT | KELVIN | %SEG_TEMPRATURE_TYPES_EXTENSION;)">
<!ELEMENT TEMPRATURE (VALUE, NUMOFDEC, SIGN)>
<!ATTLIST TEMPRATURE
        qualifier %SEG_TEMPRATURE_QUALIFIERS; #REQUIRED
        type %SEG_TEMPRATURE_TYPES; #REQUIRED
>
<!ENTITY % TEMPRATURE.ACTUAL "TEMPRATURE">
<!ENTITY % TEMPRATURE.DELIVERY "TEMPRATURE">
<!ENTITY % TEMPRATURE.LOADING "TEMPRATURE">
<!-- ====================================================================== -->
<!-- Elements - Standard Data Types
-->
<!-- The SYNCIND tag should only be used in the SYNC CUSTOMER and SYNC SUPPLIER
     messages.  It should NOT be used in other transactions.  While it is not
         explicitly required in the content model below, it IS required for the two
         SYNC messages. 
-->
<!-- The RETURNDATA attribute is to be used only in the GET and GETLIST messages.
     It should NOT be used in any other transactions. 
-->
<!ELEMENT ADDRESS (ADDRLINE*, ADDRTYPE?, CITY?, COUNTRY?, COUNTY?, DESCRIPTN?, FAX*, POSTALCODE?, REGION?, STATEPROVN?, TAXJRSDCTN?, TELEPHONE*, URL?, USERAREA?)>
<!ATTLIST ADDRESS
        returndata CDATA #IMPLIED
>
<!-- As of Release 7.1 the required fields for ATTCHREF are changed to 
(FILENAME | URI) from (FILENAME | (FILENAME?, URI)) in order to support the 
intended use of the data type. 
-->
<!-- ATTCHREF -->
<!ELEMENT ATTCHREF ((%DATETIME.CREATION;)?, (%QUANTITY.FILESIZE;)?, CMPRSNTYPE?, CMPRSNID?, DESCRIPTN?, FILETYPE?, NOTES*, TITLE?, (FILENAME | URI), USERAREA?)>
<!ATTLIST ATTCHREF
        returndata CDATA #IMPLIED
>
<!-- The OPERAMT and CHARGEID fields of the CHARGE element are required in all 
     BODs except the GET * type messages.  They are coded as optional in this DTD
         to support the GET * messages only.  The ordering convention for required
         fields is maintained.
-->
<!ELEMENT CHARGE ((%OPERAMT.EXTENDED.T;)?, CHARGEID?, CHARGETYPE?, CHGLINENUM?, DESCRIPTN?, USERAREA?, DISTRIBUTN*)>
<!ATTLIST CHARGE
        returndata CDATA #IMPLIED
>
<!ELEMENT CONTACT (NAME, CONTCTTYPE?, DESCRIPTN?, EMAIL?, FAX*, NAME*, TELEPHONE*, USERAREA?)>
<!ATTLIST CONTACT
        returndata CDATA #IMPLIED
>
<!ELEMENT DISTRIBUTN ((%OPERAMT.EXTENDED.T;)?, BUSNAREA?, COSTCENTER?, DEPARTMENT?, DIVISION?, ELEMENT*, FUND?, GEOGRAPHY?, GLENTITYS?, GLNOMACCT?, PROFITCTR?, PROJECT?, UNIT?, WAREHOUSE?, USERAREA?)>
<!ATTLIST DISTRIBUTN
        returndata CDATA #IMPLIED
>
<!--DOCUMENT-->
<!ELEMENT DOCUMENT (DOCUMENTID?, DOCUMENTRV?, DOCTYPE?, USERAREA?)>
<!ATTLIST DOCUMENT
        returndata CDATA #IMPLIED
>
<!-- DOCUMNTREF -->
<!ELEMENT DOCUMNTREF (DOCTYPE, DOCUMENTID, PARTNRID, PARTNRTYPE, DESCRIPTN?, DOCUMENTRV?, LINENUM?, NOTES*, SCHLINENUM?, SUBLINENUM?, USERAREA?)>
<!--LOTSERIAL-->
<!ELEMENT LOTSERIAL ((%QUANTITY.ITEM;)?, LOTLEVEL*, PARENTLOT*, PARENTSNUM?, SERIALNUM*, USERAREA?)>
<!ATTLIST LOTSERIAL
        returndata CDATA #IMPLIED
>
<!-- The NAME, ONETIME, PARTNRID, and PARTNRTYPE fields of the PARTNER element are
         required in all BODs except GET * type messages.  They are coded as optional 
         in this DTD to support the GET * messages only.  The ordering convention for
         required fields is maintained.
-->
<!ELEMENT PARTNER (NAME?, ONETIME?, PARTNRID?, PARTNRTYPE?, SYNCIND?, ACTIVE?, CURRENCY?, DESCRIPTN?, DUNSNUMBER?, GLENTITYS?, NAME*, PARENTID?, PARTNRIDX?, PARTNRRATG?, PARTNRROLE?, PAYMETHOD?, TAXEXEMPT?, TAXID?, TERMID?, USERAREA?, ADDRESS*, ATTCHREF*, CONTACT*)>
<!ATTLIST PARTNER
        returndata CDATA #IMPLIED
>
<!-- ====================================================================== -->