html/reports/temp/oagis_fields.dtd

<!-- License information for this file is provided in LICENSE.TXT -->
<!-- For support, more information, or to report implementation bugs, 
     please contact the Open Applications Group at xml@openapplications.org -->
<!--
$Header: oagis_fields.dtd 115.0 2002/07/09 01:15:53 tkoshio noship $
    $Revision: 115.0 $
    $Date: 2002/07/09 01:15:53 $
    Open Applications Group DTD
    Copyright 1998-2001, All Rights Reserved

    $Name:  $

Kurt    6.2.0           07/05/1999      New fields for Engineering Change requirements:
                                                                APPROVAL,APPROVERID, COMMENTS,COMPREFDES, DISPOSITON, 
                                                                ECOAPPSTAT,ECONAME,ECOPRIORITY,ECOREVISON,ECOTYPE
                                                                INCPLANFLG,INMRPPLAN,NEWITMREV,NEWREVFLAG,OLDITMREV
                                                                REVITMSTAT,UPDTWIPFG,USUPINVFG,USEUPITEM
Kurt    6.2.1           07/18/1999      Add OPERATNAME, COUNTRYDST, COUNTRYORG, PRIORITY,
                                                                PRODOSTATS, ROUTINGVAR, SUFFIX
Kurt    6.2.2           12/11/1999      Bug Fix: Rename TRAKNGFLG to TRACKFLG
                                                        Add POLNSTATUS, SOLNSTATUS, SOSTATUS
                                                        SAFETYID, SAFETYTYPE, SAFTYCLASS, RELITEMID, RELMACHID,
                                                        RELLOCID, MSDSID, QUALIF, LABORID, OPSTATUS, FAILUREID,
                                                        FAILTYPE, FAILCLASS, MACHSTATE, MAINTCALID, MAINTLOCID,
                                                        MOPARENTID, MOPRIORITY, MAINTORDID, JPID, SUPERVISOR,
                                                        SPLITABLE, PMID, MOTYPE, MOSTATUS
rjj             7.0.0           10/15/2000      Updated Header Information.
                                                Bug fix: Added  DSPSTNINV to replace deprecated DISPOSITON (and avoid confusion with DISPOSTN).
                                                Added new fields for Catalog(CATALOG):
                                                        CATALGNAME, CATALOGRV, PUBLISHER
                                                Added new fields for Catalog(ITEMCLASS):
                                                        CLSSSCHMID, CLSSELMT1 - CLSSELMT99, CLSELMLVL,CLSSLMNTID,
                                                         ITMCLASSID, PRNTCLSELM
                                                Added new fields for Catalog(ITEMXREF):
                                                        FRMITMCLSS, FRMITMNM, FRMITMNMRV,  FRMSITELVL1 - FRMSITELVL9,
                                                        FROMPARTY, ITMIDFLG, TOITMNM, TOITMCLSS, TOITMNMRV,
                                                        TOPARTY, TOSITELVL1 - TOSITELVL9, PREFERENCE, XREFTYPEID
                                                Added new fields for Catalog(PRICELIST):
                                                        PRICELSTID, OVERIDPRIC, PRICELSTRV
                                                Added new fields for Catalog(ITEMSPECS):
                                                        DEFLTVALUE, FEATUREID, FTDATATYPE, FEATVAL, ITMFTVAL
                                                Added new fields for UOM:
                                                        CTCHWFLAG, DiSPOSITN, UPCPKGIND, EXPIREFLAG, FRGHTITEM, 
                                                        UOMGROUPID, UPCSCC14
                                                Added new fields for RFQ & Quote:
                                                        CMPRSNTYPE, CMPRSNID, FILENAME, FILETYPE, MSGTEXT, MSGID, MSGTYPE,
                                                        QSLINENUM, QSLINESTAT, QSLINETYPE, QTEID, QTEIDX, QTELINENUM, 
                                                        TELNSTAT, QTEREVISON, QTESTATUS, QTETYPE, QUALFNID, QUALFNTYPE,
                                                        QUALFNVAL, RFQID, RFQIDX, RFQLINENUM, RFQLNSTAT, RFQNAME,
                                                        RFQREVISON, RFQSTATUS, RFQTYPE, RSLINENUM, RSLINETYPE,
                                                        RSBLINENUM, TITLE, URI, FRGHTTERMS, TRANSTERMS
                                                Bug Fix: Added index attribute to SALESORG
                                                Bug Fix: Deprecate TRACKFLG, reinstitute TRAKNGFLAG as per spec
                                                Bug Fix: Deprecate MACHID, replace with MACHINEID as per spec
                                                Bug Fix: Added MACHSUDEP as per spec
                                                Added new fields for ShowShipment
                                                        CARRSRVLVL, CHARGETYPE, CONTNRSEAL, PARCNTNRID, ROUTEID, SCHLINENUM, 
                                                        SHIPPERID, SHIPSRVLVL, SHPUNITSEQ, SHPUNITSTS, SHPUNITTOT, SPECIALHND, 
                                                        STAGEPOINT, SUBLINENUM, TRANSMETHD
                                                        (note: ROUTEID and SPECIALHND were already in spec but missing from this DTD)
                                                Bug fix: Removed SYNCID (was a typo from long ago, use SYNCIND instead)
                                                Added new fields for FORECAST
                                                        ACTIONCODE, AUTHCODE, BKTYPE, DATETYPE, ENDITEMID, EXCPLINNUM, EXCPTNCODE,
                                                        FLEXBKTID, KANBAN,  LINEFEED, LINETYPE, PSDLINENUM, RSPLINNUM, RSPSCHEDID,
                                                        RSPREVNUM, RSPSDLNUM, SCHEDULEID, SCHEDTYPE, PSSTATUS, SHIPPERNUM, PRODSEQBEG,
                                                        PRODSEQEND, PRODSEQNUM
rjj             7.0.2   11/24/2000      Added index attribute to NOTES to allow for multiple instances.
mlr             7.1             04/16/2001      Remove MACHTYPE from specification was added inadvertantly.
mlr             7.1             04/16/2001      Added for Invoice Submission:  ALLOWTYPE        
ajw             7.2             09/14/2001      Fields to support ECatalog: CLASSFNID,CLASSFN,CLASSLEVEL,CLSSSCHMRV,FTGROUP,
                                                        FTVALIND,FTVALQUAL,     PRICECODE,      PRICETYPE,SEQNCENUM,USAGERESTN
ajw             7.2             09/14/2001      Fields to support Consumptn: CONSLINENUM,ROUTELEVEL1-ROUTELEVEL9  
mlr             7.2             09/14/2001      Added fields to support updated delivery: ACKMODE, DISCRPTYPE, RECEIPTYPE.
                                                        
Notes:

-->
<!-- ==================================================== -->
<!-- Entities - Fields - Appendix C
-->
<!ENTITY % DOMAINS SYSTEM "oagis_domains.dtd">
%DOMAINS;
<!ELEMENT ABSENCETYP %STRDOM;>
<!ELEMENT ACCTPERIOD %STRDOM;>
<!ELEMENT ACCTTYPE %STRDOM;>
<!ELEMENT ACCTYEAR %STRDOM;>
<!ELEMENT ACKCODE %STRDOM;>
<!ELEMENT ACKMODE %STRDOM;>
<!ELEMENT ACKREQUEST %STRDOM;>
<!ELEMENT ACTIONCODE %STRDOM;>
<!ELEMENT ACTIVE %STRDOM;>
<!ELEMENT ACTTYPE %STRDOM;>
<!ELEMENT ADDRLINE %STRDOM;>
<!ATTLIST ADDRLINE
        index CDATA #REQUIRED
>
<!ELEMENT ADDRTYPE %STRDOM;>
<!ELEMENT ALLOWTYPE %STRDOM;>
<!ELEMENT APPROVE %STRDOM;>
<!ELEMENT APPROVED %STRDOM;>
<!ELEMENT APPROVERID %STRDOM;>
<!ELEMENT AUTHCODE %STRDOM;>
<!ELEMENT AUTHID %STRDOM;>
<!ELEMENT BACKORDIND %STRDOM;>
<!ELEMENT BILLOLADNG %STRDOM;>
<!ELEMENT BKTYPE %STRDOM;>
<!ELEMENT BOMALTID %STRDOM;>
<!ELEMENT BOMID %STRDOM;>
<!ELEMENT BOMNAME %STRDOM;>
<!ELEMENT BOMREVISON %STRDOM;>
<!ELEMENT BOMSTATUS %STRDOM;>
<!ELEMENT BOMTYPE %STRDOM;>
<!ELEMENT BOMUSAGE %STRDOM;>
<!ELEMENT BUDGSTAT %STRDOM;>
<!ELEMENT BUDGTXN %STRDOM;>
<!ELEMENT BUDGVER %STRDOM;>
<!ELEMENT BUSNAREA %STRDOM;>
<!ELEMENT BUYERID %STRDOM;>
<!ELEMENT CARRIER %STRDOM;>
<!ELEMENT CARRSRVLVL %STRDOM;>
<!ELEMENT CATALGNAME %STRDOM;>
<!ELEMENT CATALOGRV %STRDOM;>
<!ELEMENT CHARGEID %STRDOM;>
<!ELEMENT CHARGETYPE %STRDOM;>
<!ELEMENT CHGLINENUM %STRDOM;>
<!ELEMENT CITY %STRDOM;>
<!ELEMENT CLASSFNID %STRDOM;>
<!ELEMENT CLASSFN %STRDOM;>
<!ATTLIST CLASSFN
        index CDATA #REQUIRED
>
<!ELEMENT CLASSLEVEL %STRDOM;>
<!ELEMENT CLSSSCHMID %STRDOM;>
<!ELEMENT CLSSELMT %STRDOM;>
<!ATTLIST CLSSELMT
        index CDATA #REQUIRED
>
<!ELEMENT CLSELMLVL %STRDOM;>
<!ELEMENT CLSSSCHMRV %STRDOM;>
<!ELEMENT CLSSLMNTID %STRDOM;>
<!ELEMENT CMPRSNTYPE %STRDOM;>
<!ELEMENT CMPRSNID %STRDOM;>
<!ELEMENT CNTCTTYPE %STRDOM;>
<!ELEMENT CODEPAGE %STRDOM;>
<!ELEMENT COMMENTS %STRDOM;>
<!ELEMENT COMMODITY %STRDOM;>
<!ATTLIST COMMODITY
        index CDATA #REQUIRED
>
<!ELEMENT COMPLEVEL %STRDOM;>
<!ELEMENT COMPONENT %STRDOM;>
<!ELEMENT COMPREFDES %STRDOM;>
<!ELEMENT CONDSTATUS %STRDOM;>
<!ELEMENT CONFIRMATION %STRDOM;>
<!ELEMENT CONSLINENUM %STRDOM;>
<!ELEMENT CONSUMPTN %STRDOM;>
<!ELEMENT CONTAINRID %STRDOM;>
<!ELEMENT CONTCTTYPE %STRDOM;>
<!ELEMENT CONTNRSEAL %STRDOM;>
<!ELEMENT CONTNRTYPE %STRDOM;>
<!ELEMENT CONTRACTB %STRDOM;>
<!ELEMENT CONTRACTID %STRDOM;>
<!ELEMENT CONTRACTS %STRDOM;>
<!ELEMENT COSTTYPE %STRDOM;>
<!ELEMENT COUNTRY %STRDOM;>
<!ELEMENT COUNTRYDST %STRDOM;>
<!ELEMENT COUNTRYORG %STRDOM;>
<!ELEMENT COUNTY %STRDOM;>
<!ELEMENT COSTCENTER %STRDOM;>
<!ELEMENT CRAFTID %STRDOM;>
<!ELEMENT CTCHWCONV %STRDOM;>
<!ELEMENT CTCHWFLAG %STRDOM;>
<!ELEMENT CURRENCY %STRDOM;>
<!ELEMENT CURRFROM %STRDOM;>
<!ELEMENT CURRTO %STRDOM;>
<!ELEMENT DATETYPE %STRDOM;>
<!ELEMENT DAY %STRDOM;>
<!ELEMENT DAYOFMONTH %STRDOM;>
<!ELEMENT DAYSNUM %STRDOM;>
<!ELEMENT DEFAULT %STRDOM;>
<!ELEMENT DELIVERTO %STRDOM;>
<!ELEMENT DEFLTVALUE %STRDOM;>
<!ELEMENT DENSITYFAC %STRDOM;>
<!ELEMENT DEPARTMENT %STRDOM;>
<!ELEMENT DESCRIPTN %STRDOM;>
<!ELEMENT DISCRPTYPE %STRDOM;>
<!ELEMENT DISPOSITN %STRDOM;>
<!ELEMENT DISPOSITON %STRDOM;>
<!-- this field has been deprecated in favour of DSPSTNINV as of release 7.0 -->
<!ELEMENT DISTCENTER %STRDOM;>
<!ELEMENT DIVISION %STRDOM;>
<!ELEMENT DOCKID %STRDOM;>
<!ELEMENT DOCTYPE %STRDOM;>
<!ELEMENT DOCUMENTID %STRDOM;>
<!ELEMENT DOCUMENTRV %STRDOM;>
<!ELEMENT DRAWING %STRDOM;>
<!ELEMENT DRCR %STRDOM;>
<!ELEMENT DROPSHIP %STRDOM;>
<!ELEMENT DSPSTNINV %STRDOM;>
<!ELEMENT DUNSNUMBER %STRDOM;>
<!ELEMENT ECOAPPSTAT %STRDOM;>
<!ELEMENT ECONAME %STRDOM;>
<!ELEMENT ECOPRIORITY %STRDOM;>
<!ELEMENT ECOREVISON %STRDOM;>
<!ELEMENT ECOTYPE %STRDOM;>
<!ELEMENT ELEMENT %STRDOM;>
<!ATTLIST ELEMENT
        index CDATA #REQUIRED
>
<!ELEMENT EMAIL %STRDOM;>
<!ELEMENT EMPCATEGRY %STRDOM;>
<!ELEMENT EMPDEPT %STRDOM;>
<!ELEMENT EMPLOYEEID %STRDOM;>
<!ELEMENT EMPNAME %STRDOM;>
<!ELEMENT EMPQUALIF %STRDOM;>
<!ELEMENT EMPSTATUS %STRDOM;>
<!ELEMENT ENDITEMID %STRDOM;>
<!ELEMENT EXCLUSIVE %STRDOM;>
<!ELEMENT EXCPLINNUM %STRDOM;>
<!ELEMENT EXCPTNCODE %STRDOM;>
<!ELEMENT EXPORTLIC %STRDOM;>
<!ELEMENT EXPIREFLAG %STRDOM;>
<!ELEMENT FACTOR %STRDOM;>
<!ELEMENT FAILCLASS %STRDOM;>
<!ELEMENT FAILCODE %STRDOM;>
<!ELEMENT FAILTYPE %STRDOM;>
<!ELEMENT FAILUREID %STRDOM;>
<!ELEMENT FAX %STRDOM;>
<!ATTLIST FAX
        index CDATA #REQUIRED
>
<!ELEMENT FEATUREID %STRDOM;>
<!ELEMENT FEATVAL %STRDOM;>
<!ELEMENT FIELDID %STRDOM;>
<!ELEMENT FIELDVALUE %STRDOM;>
<!ELEMENT FILENAME %STRDOM;>
<!ELEMENT FILETYPE %STRDOM;>
<!ELEMENT FIXEDASSET %STRDOM;>
<!ELEMENT FIXDQTYIND %STRDOM;>
<!ELEMENT FLEXBKTID %STRDOM;>
<!ELEMENT FREIGHTCLS %STRDOM;>
<!ELEMENT FRGHTCLS %STRDOM;>
<!ELEMENT FRGHTITEM %STRDOM;>
<!ELEMENT FRGHTTERMS %STRDOM;>
<!ELEMENT FRMITMCLSS %STRDOM;>
<!ELEMENT FRMITMNM %STRDOM;>
<!ELEMENT FRMITMNMRV %STRDOM;>
<!ELEMENT FRMSITELVL %STRDOM;>
<!ATTLIST FRMSITELVL
        index CDATA #REQUIRED
>
<!ELEMENT FROMPARTY %STRDOM;>
<!ELEMENT FTDATATYPE %STRDOM;>
<!ELEMENT FTGROUP %STRDOM;>
<!ELEMENT FTVALIND %STRDOM;>
<!ELEMENT FTVALQUAL %STRDOM;>
<!ELEMENT FUND %STRDOM;>
<!ELEMENT GEOGRAPHY %STRDOM;>
<!ELEMENT GLENTITYD %STRDOM;>
<!ELEMENT GLENTITYS %STRDOM;>
<!ELEMENT GLNOMACCT %STRDOM;>
<!ELEMENT HAZRDMATL %STRDOM;>
<!ELEMENT HDRSTATUS %STRDOM;>
<!ELEMENT HOUR %STRDOM;>
<!ELEMENT HRORG %STRDOM;>
<!ATTLIST HRORG
        index CDATA #REQUIRED
>
<!ELEMENT IMPORTLIC %STRDOM;>
<!ELEMENT INCPLANFLG %STRDOM;>
<!ELEMENT INDLINENUM %STRDOM;>
<!ELEMENT INMRPPLAN %STRDOM;>
<!ELEMENT INSLINENUM %STRDOM;>
<!ELEMENT INSPDOCREV %STRDOM;>
<!ELEMENT INSPECTDOC %STRDOM;>
<!ELEMENT INSPECTRID %STRDOM;>
<!ELEMENT INQUEUEID %STRDOM;>
<!ELEMENT INVENDISP %STRDOM;>
<!ELEMENT INVLINENUM %STRDOM;>
<!ELEMENT ITEM %STRDOM;>
<!ELEMENT ITEMCATID %STRDOM;>
<!ELEMENT ITEMCLASS %STRDOM;>
<!ELEMENT ITEMCLASSID %STRDOM;>
<!ELEMENT ITEMDEFN %STRDOM;>
<!ELEMENT ITEMDESC %STRDOM;>
<!ELEMENT ITEMRV %STRDOM;>
<!ELEMENT ITEMRVX %STRDOM;>
<!ELEMENT ITEMSTATUS %STRDOM;>
<!ELEMENT ITEMTYPE %STRDOM;>
<!ELEMENT ITEMVAR %STRDOM;>
<!ELEMENT ITEMX %STRDOM;>
<!ELEMENT ITMIDFLG %STRDOM;>
<!ELEMENT ITMFTVAL %STRDOM;>
<!ELEMENT JEID %STRDOM;>
<!ELEMENT JOBCODE %STRDOM;>
<!ELEMENT JPID %STRDOM;>
<!ELEMENT KANBAN %STRDOM;>
<!ELEMENT LABORID %STRDOM;>
<!ELEMENT LANGUAGE %STRDOM;>
<!ELEMENT LEDGER %STRDOM;>
<!-- <!ELEMENT LINE %STRDOM;> Check for usage in XML -->
<!ELEMENT LINEFEED %STRDOM;>
<!ELEMENT LINENUM %STRDOM;>
<!ELEMENT LINETYPE %STRDOM;>
<!ELEMENT LOADPOINT %STRDOM;>
<!ELEMENT LOCK %STRDOM;>
<!ELEMENT LOGICALID %STRDOM;>
<!ELEMENT LOTLEVEL %STRDOM;>
<!ATTLIST LOTLEVEL
        index CDATA #REQUIRED
>
<!ELEMENT LOTSNFLAG %STRDOM;>
<!ELEMENT MACHCLASS %STRDOM;>
<!ELEMENT MACHID %STRDOM;>
<!-- this field has been deprecated in favour of MACHINEID as of release 7.0 -->
<!ELEMENT MACHINEID %STRDOM;>
<!ELEMENT MACHSTATE %STRDOM;>
<!ELEMENT MACHSUDEP %STRDOM;>
<!-- <!ELEMENT MACHTYPE %STRDOM;>  Removed per spec. -->
<!ELEMENT MAINTCALID %STRDOM;>
<!ELEMENT MAINTLOCID %STRDOM;>
<!ELEMENT MAINTORDID %STRDOM;>
<!ELEMENT MANDATORY %STRDOM;>
<!ELEMENT MATCHTYPE %STRDOM;>
<!ELEMENT MCHDOCID %STRDOM;>
<!ELEMENT MCHDOCTYPE %STRDOM;>
<!ELEMENT MCHLINENUM %STRDOM;>
<!ELEMENT MSGTEXT %STRDOM;>
<!ELEMENT MSGID %STRDOM;>
<!ELEMENT MSGTYPE %STRDOM;>
<!ELEMENT MINUTE %STRDOM;>
<!ELEMENT MONTH %STRDOM;>
<!ELEMENT MOPARENTID %STRDOM;>
<!ELEMENT MOPRIORITY %STRDOM;>
<!ELEMENT MOSTATUS %STRDOM;>
<!ELEMENT MOTYPE %STRDOM;>
<!ELEMENT MSDSID %STRDOM;>
<!ELEMENT NAME %STRDOM;>
<!ATTLIST NAME
        index CDATA #REQUIRED
>
<!ELEMENT NEWITMREV %STRDOM;>
<!ELEMENT NEWREVFLAG %STRDOM;>
<!ELEMENT NOTES %STRDOM;>
<!ATTLIST NOTES
        index CDATA #REQUIRED
>
<!ELEMENT NOUN %STRDOM;>
<!ELEMENT NUMOFDEC %STRDOM;>
<!ELEMENT OILINENUM %STRDOM;>
<!ELEMENT OLDITMREV %STRDOM;>
<!ELEMENT ONETIME %STRDOM;>
<!ELEMENT OPENITEM %STRDOM;>
<!ELEMENT OPERATNAME %STRDOM;>
<!ELEMENT OPERATNID %STRDOM;>
<!ELEMENT OPERATNSEQ %STRDOM;>
<!ELEMENT OPERATTYPE %STRDOM;>
<!ELEMENT OPRAMTAUTH %STRDOM;>
<!ELEMENT OPRGRPNAME %STRDOM;>
<!ELEMENT OPRGRPTYPE %STRDOM;>
<!ELEMENT OPSTATUS %STRDOM;>
<!ELEMENT OPTCLSNAME %STRDOM;>
<!ELEMENT OPTCLSSID %STRDOM;>
<!ELEMENT OPTIONID %STRDOM;>
<!ELEMENT OPTIONNAME %STRDOM;>
<!ELEMENT ORIGREF %STRDOM;>
<!ELEMENT OTELIGIBLE %STRDOM;>
<!ELEMENT OUTQUEUEID %STRDOM;>
<!ELEMENT OVERIDPRIC %STRDOM;>
<!ELEMENT OVERTIME %STRDOM;>
<!ELEMENT OWNRSHPCDE %STRDOM;>
<!ELEMENT PACKING %STRDOM;>
<!ELEMENT PACKNGDESC %STRDOM;>
<!ELEMENT PARCNTNRID %STRDOM;>
<!ELEMENT PARENTID %STRDOM;>
<!ELEMENT PARENTLOT %STRDOM;>
<!ATTLIST PARENTLOT
        index CDATA #REQUIRED
>
<!ELEMENT PARENTSNUM %STRDOM;>
<!ELEMENT PARTIALSHP %STRDOM;>
<!ELEMENT PARTNRID %STRDOM;>
<!ELEMENT PARTNRIDX %STRDOM;>
<!ELEMENT PARTNRRATG %STRDOM;>
<!ELEMENT PARTNRROLE %STRDOM;>
<!ELEMENT PARTNRTYPE %STRDOM;>
<!ELEMENT PAYMETHOD %STRDOM;>
<!ELEMENT PERSONCODE %STRDOM;>
<!ELEMENT PICLINENUM %STRDOM;>
<!ELEMENT PLANNERID %STRDOM;>
<!ELEMENT PMID %STRDOM;>
<!ELEMENT POENTITY %STRDOM;>
<!ELEMENT POID %STRDOM;>
<!ELEMENT POLINENUM %STRDOM;>
<!ELEMENT POLNSTATUS %STRDOM;>
<!ELEMENT PORELEASE %STRDOM;>
<!ELEMENT POSITION %STRDOM;>
<!ELEMENT POSTALCODE %STRDOM;>
<!ELEMENT POSTATUS %STRDOM;>
<!ELEMENT POTYPE %STRDOM;>
<!ELEMENT PRCESSCODE %STRDOM;>
<!ELEMENT PREFERENCE %STRDOM;>
<!ELEMENT PRICECODE %STRDOM;>
<!ELEMENT PRICELSTID %STRDOM;>
<!ELEMENT PRICELSTRV %STRDOM;>
<!ELEMENT PRICETYPE %STRDOM;>
<!ELEMENT PRINT %STRDOM;>
<!ELEMENT PRINTCNTL %STRDOM;>
<!ELEMENT PRIORITY %STRDOM;>
<!ELEMENT PRDLINENUM %STRDOM;>
<!ELEMENT PRNTCLSELM %STRDOM;>
<!ELEMENT PRODCTLINE %STRDOM;>
<!ELEMENT PRODORDER %STRDOM;>
<!ELEMENT PRODORDID %STRDOM;>
<!ELEMENT PRODOSTATS %STRDOM;>
<!ELEMENT PRODOTYPE %STRDOM;>
<!ELEMENT PRODSEQBEG %STRDOM;>
<!ELEMENT PRODSEQEND %STRDOM;>
<!ELEMENT PRODSEQNUM %STRDOM;>
<!ELEMENT PROFITCTR %STRDOM;>
<!ELEMENT PROJACTSTS %STRDOM;>
<!ELEMENT PROJACTVTY %STRDOM;>
<!ELEMENT PROJECT %STRDOM;>
<!ELEMENT PROJRESEL %STRDOM;>
<!ATTLIST PROJRESEL
        index CDATA #REQUIRED
>
<!ELEMENT PROJSTATUS %STRDOM;>
<!ELEMENT PROJTXTYPE %STRDOM;>
<!ELEMENT PROPERTY %STRDOM;>
<!ATTLIST PROPERTY
        index CDATA #REQUIRED
>
<!ELEMENT PROXMONTH %STRDOM;>
<!ELEMENT PSBLINENUM %STRDOM;>
<!ELEMENT PSCLINENUM %STRDOM;>
<!ELEMENT PSDLINENUM %STRDOM;>
<!ELEMENT PUBLISHER %STRDOM;>
<!ELEMENT QUALIF %STRDOM;>
<!ELEMENT QSLINENUM %STRDOM;>
<!ELEMENT QSLINESTAT %STRDOM;>
<!ELEMENT QSLINETYPE %STRDOM;>
<!ELEMENT QTEID %STRDOM;>
<!ELEMENT QTEIDX %STRDOM;>
<!ELEMENT QTELINENUM %STRDOM;>
<!ELEMENT QTELNSTAT %STRDOM;>
<!ELEMENT QTEREVISON %STRDOM;>
<!ELEMENT QTESTATUS %STRDOM;>
<!ELEMENT QTETYPE %STRDOM;>
<!ELEMENT QUALFNID %STRDOM;>
<!ELEMENT QUALFNTYPE %STRDOM;>
<!ELEMENT QUALFNVAL %STRDOM;>
<!ELEMENT RATETYPE %STRDOM;>
<!ELEMENT REASONCODE %STRDOM;>
<!ELEMENT RECEPTDISP %STRDOM;>
<!ELEMENT RECEIPTID %STRDOM;>
<!ELEMENT RECEIPTYPE %STRDOM;>
<!ELEMENT RECLINENUM %STRDOM;>
<!ELEMENT REF %STRDOM;>
<!ATTLIST REF
        index CDATA #REQUIRED
>
<!ELEMENT REFERENCEID %STRDOM;>
<!ELEMENT REGION %STRDOM;>
<!ELEMENT RELITEMID %STRDOM;>
<!ELEMENT RELLOCID %STRDOM;>
<!ELEMENT RELMACHID %STRDOM;>
<!ELEMENT REMITTANCE %STRDOM;>
<!ELEMENT REPRTGFLAG %STRDOM;>
<!ELEMENT REQLINENUM %STRDOM;>
<!ELEMENT REQLNSTAT %STRDOM;>
<!ELEMENT REQUESTER %STRDOM;>
<!ELEMENT REQUISTNID %STRDOM;>
<!ELEMENT RESORCEUSE %STRDOM;>
<!ELEMENT RESORCGRP %STRDOM;>
<!ELEMENT RESORCKIN %STRDOM;>
<!ELEMENT RESORCLVL %STRDOM;>
<!ELEMENT RESORCTYP %STRDOM;>
<!ELEMENT RESORCUSE %STRDOM;>
<!ELEMENT RESTRICTN %STRDOM;>
<!ELEMENT RESOURCEID %STRDOM;>
<!ELEMENT REVISION %STRDOM;>
<!ELEMENT REVITMSTAT %STRDOM;>
<!ELEMENT RFQID %STRDOM;>
<!ELEMENT RFQIDX %STRDOM;>
<!ELEMENT RFQLINENUM %STRDOM;>
<!ELEMENT RFQLNSTAT %STRDOM;>
<!ELEMENT RFQNAME %STRDOM;>
<!ELEMENT RFQREVISON %STRDOM;>
<!ELEMENT RFQSTATUS %STRDOM;>
<!ELEMENT RFQTYPE %STRDOM;>
<!ELEMENT ROUTEID %STRDOM;>
<!ELEMENT ROUTELEVEL %STRDOM;>
<!ATTLIST ROUTELEVEL
        index CDATA #REQUIRED
>
<!ELEMENT ROUTETYPE %STRDOM;>
<!ELEMENT ROUTEVAR %STRDOM;>
<!ELEMENT ROUTINGID %STRDOM;>
<!ELEMENT ROUTINGREV %STRDOM;>
<!ELEMENT ROUTINGVAR %STRDOM;>
<!ELEMENT RQSLINENUM %STRDOM;>
<!ELEMENT RSBLINENUM %STRDOM;>
<!ELEMENT RSLINETYPE %STRDOM;>
<!ELEMENT RSLINENUM %STRDOM;>
<!ELEMENT RSPLINNUM %STRDOM;>
<!ELEMENT RSPREVNUM %STRDOM;>
<!ELEMENT RSPSCHEDID %STRDOM;>
<!ELEMENT RSPSDLNUM %STRDOM;>
<!ELEMENT SAFTYCLASS %STRDOM;>
<!ELEMENT SAFETYID %STRDOM;>
<!ELEMENT SAFETYTYPE %STRDOM;>
<!ELEMENT SALESORDID %STRDOM;>
<!ELEMENT SALESORG %STRDOM;>
<!ATTLIST SALESORG
        index CDATA #REQUIRED
>
<!ELEMENT SALESPERSN %STRDOM;>
<!ELEMENT SAVESETUP %STRDOM;>
<!ELEMENT SCHDULETYP %STRDOM;>
<!ELEMENT SCHEDULEID %STRDOM;>
<!ELEMENT SCHLINENUM %STRDOM;>
<!ELEMENT SCRAP %STRDOM;>
<!ELEMENT SECOND %STRDOM;>
<!ELEMENT SERIALNUM %STRDOM;>
<!ELEMENT SEQNCENUM %STRDOM;>
<!ELEMENT SHIPMATLID %STRDOM;>
<!ELEMENT SHIPSRVLVL %STRDOM;>
<!ELEMENT SHPMTLDESC %STRDOM;>
<!ELEMENT SHIFT %STRDOM;>
<!ELEMENT SHIPNOTES %STRDOM;>
<!ELEMENT SHIPPERID %STRDOM;>
<!ELEMENT SHIPPERNUM %STRDOM;>
<!ELEMENT SHIPPOINT %STRDOM;>
<!ELEMENT SHIPPRIOR %STRDOM;>
<!ELEMENT SHPUNITSEQ %STRDOM;>
<!ELEMENT SHPUNITSTS %STRDOM;>
<!ELEMENT SHPUNITTOT %STRDOM;>
<!ELEMENT SIGN %STRDOM;>
<!ELEMENT SITELEVEL %STRDOM;>
<!ATTLIST SITELEVEL
        index CDATA #REQUIRED
>
<!ELEMENT SOLINENUM %STRDOM;>
<!ELEMENT SOLNSTATUS %STRDOM;>
<!ELEMENT SOSLINENUM %STRDOM;>
<!ELEMENT SOSTATUS %STRDOM;>
<!ELEMENT SPECIALHND %STRDOM;>
<!ELEMENT SPLITABLE %STRDOM;>
<!ELEMENT STAGEPOINT %STRDOM;>
<!ELEMENT STATEPROVN %STRDOM;>
<!ELEMENT PSSTATUS %STRDOM;>
<!ELEMENT STATUSLVL %STRDOM;>
<!ELEMENT STEPID %STRDOM;>
<!ELEMENT STEPNUM %STRDOM;>
<!ELEMENT STEPTYPE %STRDOM;>
<!ELEMENT SUBLINENUM %STRDOM;>
<!ELEMENT SUBSECOND %STRDOM;>
<!ELEMENT SUBSFLAG %STRDOM;>
<!ELEMENT SUFFIX %STRDOM;>
<!ELEMENT SUPERVISOR %STRDOM;>
<!ELEMENT SYNCIND %STRDOM;>
<!ELEMENT TASK %STRDOM;>
<!ELEMENT TAXCODE %STRDOM;>
<!ELEMENT TAXEXEMPT %STRDOM;>
<!ELEMENT TAXID %STRDOM;>
<!ELEMENT TAXJRSDCTN %STRDOM;>
<!ELEMENT TAXLINE %STRDOM;>
<!ELEMENT TAXWHEXMPT %STRDOM;>
<!ELEMENT TELEPHONE %STRDOM;>
<!ATTLIST TELEPHONE
        index CDATA #REQUIRED
>
<!ELEMENT TERMFLAG %STRDOM;>
<!ELEMENT TERMID %STRDOM;>
<!ELEMENT TIMEZONE %STRDOM;>
<!ELEMENT TITLE %STRDOM;>
<!ELEMENT TOITMNM %STRDOM;>
<!ELEMENT TOITMCLSS %STRDOM;>
<!ELEMENT TOITMNMRV %STRDOM;>
<!ELEMENT TOPARTY %STRDOM;>
<!ELEMENT TOSITELVL %STRDOM;>
<!ATTLIST TOSITELVL
        index CDATA #REQUIRED
>
<!ELEMENT TOOLCLASS %STRDOM;>
<!ELEMENT TOOLID %STRDOM;>
<!ELEMENT TRACKINGID %STRDOM;>
<!ELEMENT TRACKFLG %STRDOM;>
<!-- this field has been deprecated in favour of TRAKNGFLAG as of release 7.0 -->
<!ELEMENT TRAKNGFLAG %STRDOM;>
<!ELEMENT TRANSMETHD %STRDOM;>
<!ELEMENT TRANSTERMS %STRDOM;>
<!ELEMENT TRNSFRTYPE %STRDOM;>
<!ELEMENT TXANALYSIS %STRDOM;>
<!ELEMENT UPDTWIPFG %STRDOM;>
<!ELEMENT USEUPITEM %STRDOM;>
<!ELEMENT UNIT %STRDOM;>
<!ELEMENT UNITTYPE %STRDOM;>
<!ELEMENT UOM %STRDOM;>
<!ELEMENT UOMGROUPID %STRDOM;>
<!ELEMENT UOMNUMDEC %STRDOM;>
<!ELEMENT UOMVALUE %STRDOM;>
<!ELEMENT UPC %STRDOM;>
<!ELEMENT UPCPKGIND %STRDOM;>
<!ELEMENT UPCSCC14 %STRDOM;>
<!ELEMENT URI %STRDOM;>
<!ELEMENT URL %STRDOM;>
<!ELEMENT USAGERESTN %STRDOM;>
<!ELEMENT USERID %STRDOM;>
<!ELEMENT USERAREA ANY>
<!ELEMENT USUPINVFG %STRDOM;>
<!ELEMENT VALUE %STRDOM;>
<!ELEMENT VALUECLASS %STRDOM;>
<!ELEMENT VERB %STRDOM;>
<!ELEMENT VOUCHER %STRDOM;>
<!ELEMENT WAGEGROUP %STRDOM;>
<!ELEMENT WAGETYPE %STRDOM;>
<!ELEMENT WAREHOUSE %STRDOM;>
<!ELEMENT WARRANTY %STRDOM;>
<!ELEMENT WORKCENTER %STRDOM;>
<!ELEMENT WORKORDER %STRDOM;>
<!ELEMENT WRKSCHDID %STRDOM;>
<!ELEMENT XREFTYPEID %STRDOM;>
<!ELEMENT YEAR %STRDOM;>
<!-- ==================================================== -->